/*============ default-style
============================= */
*{

    margin:0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*========== header side style-sheet
==================================== */
.top-banner{

    justify-content: center;
    background-color:lightseagreen;
    height:676px;
    

}
nav{
    display: flex;
    justify-content: center;
}
.manubar{
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    width: 1160px;
}
.left ul{
    display: flex;
}
.left ul li{
    margin-left: 36px;
}
.left ul li:nth-child(5){
    margin-right: 0;
}
.left ul li a{
    color:#fff;
    font-size: 16px;
    font-weight: 500;
}
.right{
    background-color: #eb1946;
    width:123px;
    height:44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#log-in{
    color:#fff;
    margin-right: 8px;
    font-size: 16px;
}
.right a{
    color:#fff;
    font-size: 16px;
    font-weight: 500;
}
/*=============bannar-text
===================================== */
.bannar-img{
    display: flex;
    justify-content:center;
    margin-left: 156px;
    margin-right: 140px;
}
.text{
    margin-right:102px;
    margin-top: 121px;
    height:230px ;
    width:485px ;
}
.text h1{
    color:#fff;
    font-size: 64px;
    font-weight: bold;
}
.score-button{
    width:168px;
    height: 44px;
    margin-top:11px;
   background-color:#E02C6D;
   display: flex;
   justify-content: center;
   align-items: center;
}
.score-button a{
    color:#fff;
    font-weight:500;
    font-size: 16px;
}
/* ===========bannar image
============================= */
.img-animation{
    position: relative;
    height:448px;
    width: 556px; 
    transition: 2s;
}
.img-animation img{
    height: 448px;
    width: 556px;  
}
.animation{
    top:67px;
    position: absolute;
    transition: 2s;
}
.messi{
    display: none;
    transition: 2s;
}
.top-banner:hover .messi{
    display: block;
}
.top-banner:hover .naymer{
    display: none;
}
/* ===main section css style 
=================================*/
main{
    display: flex;
    justify-content: center;
}
.player-album{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 27px;
    column-gap: 30px;
    margin-top:66px ;
    margin-left: 180px;
    margin-right: 210px;
    width: 1050px;   
}
.player-freme{
    height: 474px;
    width: 330px;
    box-shadow: 0 0 15px 5px rgb(187, 181, 181);
    }
.player{
    padding:15px 15px;
    width: 300px;
}
.player img{
    height:256px;
    width:300px;
}
.player h1{
    padding-top:16px;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    color:#18191F;
}
.player p{
    font-size: 16px;
    color:#6C6C6C;
}
/* =========next-match-field start from here
================================================== */
.next-match-canvas{
    display: flex;
    justify-content: center;
    margin-left: -20px;
    margin-bottom: 20px;;
}
.next-match-field{
    margin-top:70px;
    box-shadow: 0 0 10px 2px lightslategrey;
    width: 1050px;
}
.match-header{
    background-color: #333;
    height: 70px;
    border-left:10px solid red;
}
.match-header h1{
    padding-top:15px;
    padding-left:20px;
    font-size: 40px;
    color:whitesmoke;
}
.team-vs{
    display: flex;
    justify-content: center;
    padding:40px 0;
}
.team-logo{
    height: 300px;
    width:300px;
}
.team-logo img{
    height:300px;
    width:250px;
}
.upcoming{
    display: flex;
    flex-direction:column;
    width:300px;
}
.plain-text{
    font-size: 30px;
    color: #333;
    text-align: center;
    margin-top:100px;
    padding-right: 50px;
}
.bold{
    color:#7f7f7f;
    font-size: 25px;
    text-align: center;
    padding:10px 0;
    padding-right: 50px;
}
.on-time{
    text-align: center;
    font-size: 17px;
    padding-right: 50px;
}
.upcoming h1{
    font-size: 30px;
    text-align: center;
    padding-top:70px;
    padding-right: 50px;
}
.upcoming h2{
    
    text-align: center;
    padding-right: 50px;
}

/* ===========aside (sign up field) 
=======================================*/
.sign-up-field{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.field-set{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 20px 2px lightgray;
    background-color: #f7efef;
    width: 1250px;
    padding:15px;
    align-items: center;
}
.field-des{
    display:flex;     
}
.field-des h1{
    font-family:cursive;
    margin-right: 35px;
    padding-top:13px;
}
.field-des h3{
    max-width: 600px;
    padding-left:10px;
    font-weight: 500;
    color:lightslategrey;
}
.emil-field{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    padding-left:10px; 
}
#mail-i{
    color:darkblue;
    background-color: white;
}
input{
    outline: none;
    border-style: hidden;
    height:30px;
    font-size: 18px;
}
#mail-submit{
    border-radius:20px;
    padding: 0 10px;
    background-color: #7f7f7f;
}
#Submit-button{
    border-style: hidden;
    border-radius:20px;
    outline: none;
}
.cheack-box{
    display: flex;
    align-items: center;
}
#ch-b{
    margin-right: 5px;
}
/* ========================footer
============================================ */
footer{
    display: flex;
    justify-content: center;
    margin-top: 158px;
    margin-bottom: 43px;
}
.football-logo-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 213px;
    width: 484px;
}
.football-logo img{
    height: 110px;
    width: 484px;
}
.icon{
    display: flex;
    justify-content: space-between;
    height:32px;
    width:170px;
}

i{
    font-size:17px;
    padding:8px;
    background-color: #dbd6d6cc;
    border-radius: 50%;
    color:#797474;
}
.copyright{
    margin-top: 20px;
    font-size:20px;
}

/*=================== media quary''''''''''------------______________
==================================================================== */
@media only screen and (max-width:678px){
/* manubar
================ */
    .top-banner{
        position: relative;
        background-color:lightseagreen;
        height:auto;
        width:700px;
        
         }
    .manubar{
        display: flex;
        flex-direction: column;
        padding-top: 42px;
        width:auto;
    }
    .left ul{
        display: flex;
        flex-direction: column;
    }
    .left ul li{
        display: flex;
        flex-direction: column;
    }
    .left ul li a{
        text-align: center;
        padding-top: 5px;
        font-size: 20px;
    }
    .right{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 55px;
    }
    /* header
    =====================*/
    .bannar-img{
        display: flex;
        justify-content:center;
    }
    .text{
        margin-right:102px;
        margin-top: 121px;
        height:230px ;
        width:485px ;
    }
    .text h1{
        color:#fff;
        margin-top: -80px;
        font-size: 36px;
        margin-left: -50px;
    }
    .score-button{
        width:168px;
        height: 44px;
       background-color:#E02C6D;
       margin-top: -50px;
       margin-left: -50px;
    }
    .score-button a{
        color:#fff;
        font-weight:500;
        font-size: 16px;
    }
    /* bannar img quary
    ====================== */
    .bannar-img{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .img-animation{
        width: auto;
        margin-left: -100px;
        display: inline-block;
        margin-bottom:100px ;
    }
    .img-animation img{
    }
/* main part 
=================*/
main{
    display: flex;
    justify-content: center;
    width:700px;
}
.player-album{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.player-freme{
    height: 674px;
    width:550px;
    box-shadow: 0 0 15px 5px rgb(187, 181, 181);
    }
.player{
    padding:20px 20px;
    width: 530px;
}
.player img{
    height:470px;
    width:500px;
}
.player h1{
    font-size: 30px;
}
.player p{
    font-size: 18px;
    width: 500px;
}
/* next match box 
------------------------*/

.next-match-field{
    margin-right:-90px;
    width:600px;
    margin-left: 200px;
}
.team-logo img{
    padding-top: 100px;
    padding-left: 25px;
    height:20vmax;
    width:20vmax;
}
.upcoming{
    padding-left: 30px;
    display:flex;
    flex-direction:column;
    font-size: 20px;
    width:200px;
}
.bold{
    color:#7f7f7f;
    font-size: 20px;
    text-align: center;
    padding:10px 0;
}

/* sign up field 
===========================*/
.sign-up-field{
    width:500px;
    margin-left:80px;
}
.field-set{
    display: flex;
    flex-direction: column;
}
.field-des{
    padding:30px 0;
    display: flex;
    flex-direction: column;
}
/*============== footer 
==============================*/
.football-logo-frame{
    margin-left: 300px;
}

}